<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Nice Shot! - 3D</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
		<script src="{{ url_for('static', filename='scripts/dat.gui.min.js') }}"></script>
		<script src="{{ url_for('static', filename='scripts/OrbitControls.js') }}"></script>

		<style>
			body { margin: 0; }
			#info {
				position: absolute;
				font-family: sans-serif;
				font-size: large;
				top: 20px;
				left: 20px;
				color: white;
				z-index: 100;
			}
		</style>
	</head>
	<body>
		<div id="info"></div>
		<script>
			var analysis_url = "{{ analysis_url }}";
			var shot_index = parseInt("{{ shot_index }}");

			var shots;
			var fps;

			// load shots data
			$.ajaxSetup({
				async: false
			});
			$.getJSON(analysis_url, function(data) {
				shots = data.shots;
				fps = data.fps;
			});
		</script>
		<script src="{{ url_for('static', filename='scripts/3d.js') }}"></script>
	</body>
</html>