<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Nice Shot! - Results</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/styles.css')}}">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
    <script src="{{url_for('static', filename='script/ajaxImport.js')}}"></script>
</head>
<body>
	<div id="body">
        <heading></heading>
    </div>
    <h3>Extracted Shots</h3>
    <h4>Filter by shot</h4>

    <script>
        /* Data extraction */
        let shots, shot_classes, shown_classes, classifications;

        shots = JSON.parse('{{shots | tojson | safe}}');
        shot_classes = JSON.parse('{{shot_classes | tojson | safe}}');
        shown_classes = JSON.parse('{{shown_classes | tojson | safe}}');
        classifications = Object.keys(shot_classes);
    </script>

    <div id="dashboard">
        {% raw %}
        <div v-for="item in classes">
            <input :id="item.id" type="checkbox" :name="item.text" :value="item.text" v-model="checkedShots">
            <label :for="item.id">{{item.text}}</label>
        </div>
        <h4>Shots</h4>
        <div v-for="shot in shotList">
            <div v-if="isInList(shot.class, checkedShots)">
                {{shot.text}}
                <br>
                <img :src="shot.src">
                <form :action="shot.action">
                    <button type="submit">View video</button>
                </form>
            </div>
        </div>
        {% endraw %}
    </div>
    
    <script type="module">
        /* Checklist application */
        Vue.createApp({
            setup(){

                function createShotClassList(){
                    let list = [];
                    for (let classIndex = 0; classIndex < classifications.length; classIndex++){
                        list.push({id: classIndex, text: classifications[classIndex]});
                    }
                    return Vue.ref(list);
                }

                function createShotList(){
                    let list = [];
                    for (let shotIndex = 0; shotIndex < shots.length; shotIndex++){
                        console.log(shots[shotIndex].classification);
                        list.push({
                            id: shotIndex,
                            class: shots[shotIndex].classification,
                            text: 'Shot ' + (shotIndex+1).toString() + ': ' + shots[shotIndex].classification,
                            src: '/display/shot' + shotIndex.toString() + '.jpg',
                            action: '/shot/video/' + shotIndex.toString()
                        })
                    }
                    return Vue.ref(list);
                }

                const checkedShots = Vue.ref(classifications);
                const shotList = createShotList();
                const classes = createShotClassList();

                function isInList(item, list){
                    return list.includes(item);
                }

                return {
                    checkedShots,
                    shotList,
                    classes,
                    isInList
                }
            }
        }).mount("#dashboard");

    </script>
</body>
<script type="module" src="{{url_for('static', filename='script/body.js')}}"></script>
</html>