<!DOCTYPE html>
<html>
<head>
    <title>Nice Shot! - Results</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/styles.css')}}">
</head>
<body>
<h1>Nice Shot!</h1>
<h2><i>Your Personal Tennis Trainer</i></h2>
<h3>Extracted Shots</h3>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="{{url_for('static', filename='script/setup.js')}}"></script>
<h4>Filter by shot</h4>
<div id="filter"></div>
<script>
    let shot_list, shot_classes_dict, shown_classifications, count, classifications;

    function init(){
        shot_list = JSON.parse('{{shots_list | tojson | safe}}');
        shot_classes_dict = JSON.parse('{{shot_classes_dict | tojson | safe}}');
        shown_classifications = JSON.parse('{{shown_classifications | tojson | safe}}');
        console.log(shown_classifications);
        count = shot_list.length
        classifications = Object.keys(shot_classes_dict);
    }

    function createCheckboxes(){
        function createClassificationCheckbox(shown_classification) {
            let checkbox = document.createElement("input");
            checkbox.type = "checkbox";
            checkbox.id = shown_classification + "CB";
            if (shown_classifications.includes(shown_classification)){
                checkbox.checked = true;
            }
            return checkbox;
        }

        function createClassificationLabel(shown_classification) {
            let label = document.createElement("label");
            label.htmlFor = shown_classification;
            label.appendChild(document.createTextNode(shown_classification));
            return label;
        }

        function createClassContainer(shot_class) {
            let classificationDIV = document.createElement("div");
            classificationDIV.appendChild(createClassificationCheckbox(shot_class));
            classificationDIV.appendChild(createClassificationLabel(shot_class));
            return classificationDIV;
        }

        const filterContainer = document.getElementById("filter");
        for (let class_index = 0; class_index < classifications.length; class_index++){
            filterContainer.appendChild(createClassContainer(classifications[class_index]));
        }
    }

    init();
    createCheckboxes();
</script>
<button type="submit" onclick="clearCheckboxes()">Clear</button>
<button type="submit" onclick="">Done</button>
<img src="{{url_for('display_img', filename='shot0.jpg')}}">
<script>

    function clearCheckboxes() {
        for (let i = 0; i < classifications.length; i++) {
            document.getElementById(classifications[i] + "CB").checked = false; // do I need to give them separate IDs?
        }
    }

    function confirmCheckboxes() {

        function verifyCheckboxes() {
            // SHOULD BE DONE IN BACKEND

            var shownClassifications = [];
            for (var i = 0; i < classifications.length; i++) {
                var items = document.getElementById(classifications[i] + "CB")
                if (items.checked === true) shownClassifications.push(classifications[i]);
            }
            return shownClassifications;
        }

        function createShotSection(i) {
            const shotDIV = document.createElement('div');
            let img = document.createElement('img');
            // get the image in another manner :)
            // THE IMAGE SHOULD BE COLLECTED HERE

            //img.src = "url_for('display_img', filename='shot"+i+".jpg')"; //'data/shot' + [i] + '.jpg'; //data/1865.png'; // Replace with thumbnail of the video. Either generate, or it's already loaded.
            shotDIV.textContent = "Shot " + (i + 1) + ": " + shot_list[i].classification;
            shotDIV.appendChild(document.createElement('br'));
            shotDIV.appendChild(img);
            return shotDIV;
        }

        function emptyNode(node) {
            while (node.firstChild) node.removeChild(node.lastChild);
        }

        const shown_classifications = verifyCheckboxes(); // THIS HERE IS DONE IN THE BACKEND

        // CHECK THE CHECKBOXES.


        // CLEAN UP THUMBNAIL DIV
        const thumbnailDIV = document.getElementById("thumbnails");
        emptyNode(thumbnailDIV);
        for (let class_index = 0; class_index < classifications.length; class_index++){
            if (shown_classifications.includes(classifications[class_index])){
                thumbnailDIV.appendChild(createShotSection(class_index));
            }
        }
    }

    // EACH IMAGE SHOULD BE A BUTTON TO GO TO THE OBSERVATION OF THE VIDEO.
</script>
<div id="thumbnails"></div>
</body>
</html>